*, *:before, *:after {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 3px;
    font-family: sans-serif, Tahoma, Arial;
}

body {
    background-image: url(../images/table.jpg);
    background-size: cover;
    overflow: hidden;
}

.cellphone {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 100%;
    z-index: 1;
    background-image: url(../images/cellphone.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.content {
    position: relative;
    z-index: 2;
    width: 240px;
    margin: auto;
    margin-top: 104px;
}

.btn {
    position: relative;
    display: inline-block;
    z-index: 1;
    min-width: 30px;
    height: 30px;
    background: #f0f0f0;
    border-radius: 5px;
    border: solid 1px #999;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    cursor: default;
}

.buttons-container {
    text-align: center;
    padding-top: 10px;
}

#start-recording-btn:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -6px;
    margin-left: -6px;
    z-index: 3;
    width: 12px;
    height: 12px;
    background: #f00;
    border-radius: 50%;
}

#created-result {
    width: 100%;
    height: 80px;
}

.result-container {
    font-family: monospace;
    text-shadow: 0 0 5px #fff;
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

.vib-signals {
    position: absolute;
    left: 50%;
    top: 160px;
    width: 0;
    height: 100%;
    opacity: 0;
    transition: opacity .01s linear;
}

.vib-signals:before {
    content: "";
    position: absolute;
    left: -280px;
    background-image: url(../images/vib.png);
    width: 130px;
    height: 180px;
}
.vib-signals:after {
    content: "";
    position: absolute;
    left: 150px;
    background-image: url(../images/vib.png);
    width: 130px;
    height: 180px;
    transform: scale(-1, 1);
}

.vibrating .container {
    /*outline: solid 3px red;*/
    animation-name: vibrateIt;
    animation-duration: 0.05s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.vibrating .vib-signals {
    opacity: 1;
}

#listen-button {
    display: none;
    position: absolute;
    color: #fff;
    padding: 52px;
    width: 256px;
    top: 208px;
    height: 140px;
    left: -8px;
    background: #2284cc;
    border: solid 1px #000;
    border-width: 1px 0 1px 0;
    z-index: 9;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    text-align: center;
}
.recording #listen-button {
    display: block;
}

.recording #vib-button,
.recording #clear-button {
    color: #999;
}

.recording #start-recording-btn:after{
    background-color: #444;
    border-radius: 0;
}

@keyframes vibrateIt {
    from {
        transform: scale(1, 1) rotateZ(-.5deg);
    }
    to {
        transform: scale(1.01, 1.01) rotateZ(.5deg);
    }
}

#logo-nasc {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 140px;
}

#logo-nasc img {
    width: 100%;
}